<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.herb64.funinspace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- HFCM: Add this to play with wifi stuff. If not set, elephone P9000 crashes -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <!-- android:hardwareAccelerated="true"
     in discussion on playing vimeo in webview... added on 13.10.2017-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- configChanges in imageactivity - needed for onConfigurationChanged() -->
        <!--android:configChanges="orientation|screenSize|keyboardHidden" -->
        <activity
            android:name=".ImageActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".VideoActivity" />

        <activity
            android:name=".MP4Activity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".TexSizeActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>

        <!-- HFCM - 27.20.2017: manually add a provider to the app section to be able to share
             files for sending as email attachment
             Note: exported must not be set to true, see my lalatex doc
                   make sure, that autorities is set to correct package name               -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="de.herb64.funinspace.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>